* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
    height: 1700px;
}

/* Common */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    height: 1700px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 2px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #0f1978;
    background-color: #fffaf5;
    margin-left: 10px;
}
.btn:hover {
    background-color: #f4d7ba;
}

/* header */
.header {
    padding: 26px 0;
}

.header__inner {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
}
.logo {
    padding: 0 25px 0 10px;
}

img.aaci {
    height: 50px;
    width: auto;
    padding-left: 5px;
}

.desc h1 {
    font-size: 200%;
    font-weight: 600;
    color: #0181a5;
    text-shadow: 9px 4px 10px rgba(0, 0, 0, 0.32);
}

h1 {
    font-size: 200%;
    font-weight: 600;
    color: #fffaf5;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

h2 {
    color: #0181a5;
    font-weight: 600;
    text-shadow: 9px 4px 8px rgba(0, 0, 0, 0.32);
}
/* hero */
.hero {
    position: relative;
    width: 100%;
    height: 1600px;
    top: 0;
    left: 0;
}

.hide {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgb(237, 98, 60);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 80px;
    border-radius: 0 10px 0 10px;
    z-index: 1;
}
.hide__title {
    font-size: 20px;
}
.hero__inner {
    /* position: absolute; */
    width: 100%;
    height: 1000px;
}
.dashboard {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 1600px;
    top: 0;
    left: 0;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: #fffaf5;
    z-index: 1;
    border: 2px solid #fffaf5;
}
.footer__info {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: rgba(101, 102, 137, 1);
    font-size: 10px;
    /* border: none; */
}
.footer__copyright {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgba(101, 102, 137, 1);
    font-size: 10px;
}
.info_contact {
    font-weight: 600;
    color: rgba(0, 9, 88, 1);
    margin-bottom: 5px;
}
